.year-picker-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.year-picker-header {
    padding: 0 0.8rem;
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}

.year-picker-body {
    border-top: 1px solid gainsboro;
    width: 100%;
    padding: 0.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.single-year {
    width: 100%;
    aspect-ratio: 3;
    font-size: 0.8rem;
    background: none;
    color: black;
    display: grid;
    place-items: center;
    border-radius: 1.042em;
}

.current-year {
    font-weight: 700;
}

.single-year:hover {
    background-color: rgb(187 194 198);
    cursor: pointer;
}

.selected-year {
    color: white;
    background-color: rgb(37, 52, 60) !important;
}
