.add-account-button {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 39%;
    outline: none;
    width: 80%;
    border: 2px dashed #e5e9ed;
    color: #7f8fa4;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    transition: border-color 0.1s ease, color 0.1s ease;
    border-radius: 6px;
    cursor: pointer;
}

.add-account-button:hover {
    /* background-color: rgb(92, 173, 232); */
    color: rgb(92, 173, 232);
    border-color: rgb(92, 173, 232);
}

.account-card {
    padding: 0.72%;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    height: 30%;
    width: 350px;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    text-align: left;
    margin: 0 1%;
}

.account-card:hover .pencil {
    opacity: 0.7;
}

.account-icon-container {
    margin: 0 1rem 0 0.5rem;
    height: 30px;
}

.account-details-container {
    flex: 1;
}

.pencil {
    z-index: 10;
    align-self: flex-start;
    position: absolute;
    right: 0.3rem;
    top: 0.5rem;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.pencil:hover {
    opacity: 1 !important;
}

.account-icon {
    background-color: transparent;
    height: 100%;
    font-size: 26px;
    display: block;
}

.account-icon svg {
    height: 100%;
}

.account-name {
    /* font-size: 1.3rem; */
    font-weight: 500;
    opacity: 0.7;
}

.account-balance {
    font-weight: 500;
    font-size: 1rem;
}

._1G4RrpLL512uJptsH35-hS {
    background: rgb(255, 255, 255);
    position: -webkit-sticky;
    top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1rem 2rem;
    text-align: center;
    margin: 0 1% 1% 1%;
    box-shadow: rgba(255, 255, 255, 0.45) -3px -3px 7px, rgba(128, 135, 148, 0.56) 2px 2px 5px;
}

.custom-font-size {
    font-size: 0.875em !important;
}

.dashboard_chart_body_wrapper {
    overflow: scroll;
    height: calc(81% - 3rem);
    margin: 0 1% 1% 1%;
}

.dashboard_chart_row_wrapper {
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.dashboard_chart_wrapper {
    width: 48%;
    margin: 1%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.45) -3px -3px 7px, rgba(128, 135, 148, 0.56) 2px 2px 5px;
}

.dashboard_chart {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 80%;*/
}

.reset-account-selection {
    background: rgb(37, 52, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border: 1px solid #e5e9ed;
    color: white;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    transition: border-color 0.1s ease, color 0.1s ease;
    border-radius: 10px;
    cursor: pointer;
}
