.dialog-content {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    margin: 32px;
    position: relative;
    max-height: 664px;
    max-width: 600px;
}

.dialog-header-content {
    width: 100%;
}

.dialog-header {
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgb(34, 52, 60);
    color: white;
    padding: 5px 10px;
    font-size: 1.3rem;
    position: sticky;
}

.dialog-header-close {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    color: currentColor;
    font-size: inherit;
    cursor: pointer;
}

.dialog-body {
    overflow: scroll;
    max-height: 550px;
    color: rgb(34, 52, 60);
    font-weight: 500;
    width: calc(100% - 20px);
    padding: 5px 10px;
}
