.header-container {
    display: flex;
    background-color: rgb(34, 52, 60);
    color: rgb(255, 255, 255);
    white-space: nowrap;
    /* position: fixed; */
    height: 3rem;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 800;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.header-title {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.1rem;
}
