.select {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.select select {
    appearance: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid currentColor;
    color: #000000;
    cursor: pointer;
}

.select::after {
    --size: 0.3rem;
    content: '';
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 50%;
}

.select select:active,
.select select:focus {
    background: transparent;
    color: currentColor;
    font-weight: 500;
}
