.select-container {
    position: relative;
    background: #ffffff;
    user-select: none;
    height: 36px;
}

.select {
    position: relative;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #ffffff;
    border: 1px solid black;
    color: #000000;
    cursor: pointer;
    text-align: start;
    height: calc(100% - 1rem);
}

.select::after {
    --size: 0.3rem;
    content: '';
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 50%;
}

.select-option {
    background: white;
    height: fit-content;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.selected,
.select-option:hover {
    background-color: rgb(37, 52, 60);
    color: white;
}
